---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos | Kyle AH-LO" description="A propos Kyle AH-LO">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos"
				tagline="Merci de votre visite. Pour en savoir plus sur moi et mon parcours, continuez votre lecture."
			>
				<img
					width="1553"
					height="873"
					src="/assets/about-kyle.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>Depuis mon plus jeune âge, le monde de l'informatique m'a passionné et 
					je me suis tout naturellement spécialisé 
					en tant que développeur informatique.</p><br/>

					<p>Professionnellement, j'ai commencé ma carrière en 2018 chez Tahiti Web Design, une entreprise 
					dédiée à la création d’applications web pour le Groupe Degage.</p>

					<p>Durant mes quatre années au sein de cette société, je me suis spécialisé dans le développement web 
					en utilisant des technologies telles que Symfony/PHP, HTML, CSS et JavaScript. 
					J'ai également travaillé sur des projets liés à Odoo, où j'ai développé de nouveaux modules en 
					Python et ajouté des fonctionnalités sur la plateforme. De plus, j'ai acquis des compétences en DevOps, 
					en développant des scripts de migration, en utilisant Docker et Swarm Stack, et en écrivant des 
					scripts de sauvegarde et de vérification sous GitLab-CI.</p><br/>

					<p>En 2022, j'ai rejoint IXCYS à Saint-Bonnet-En-Champsaur en tant que développeur C#. Dans cette entreprise, 
					je me suis consacré à l’amélioration d’un logiciel de caisse, de gestion des commandes et 
					de facturation pour le secteur de la restauration. Ce projet m'a permis de perfectionner mes compétences en 
					C# et de travailler avec des technologies comme Windows, Azure DevOps et Visual Studio. 
					J'ai contribué au développement de nouvelles fonctionnalités, à l’optimisation des performances, 
					ainsi qu’à la réalisation de tests et de débogages pour garantir une expérience utilisateur fluide.</p><br/>
					
					<p>Ma polyvalence et mon expérience me permettent de m’adapter à différents environnements de travail 
					et méthodologies.</p><br/>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formations</h2>
				<div class="content">
					<p>Mon parcours académique a débuté à Papeete, où j'ai obtenu un BAC général STG IG en 2010 
					au Lycée Collège de La Mennais, suivi d’un BTS en informatique avec une spécialisation 
					en administration réseau entre 2010 et 2012.</p>
					<p>J'ai ensuite poursuivi mes études à l’Université de la Polynésie française, dans une Licence Professionnelle TECHNICOM en 2014.</p><br/>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
				<ul>
					<li>C#</li>
					<li>Web, PHP, JS, HTML, CSS,</li>
					<li>SQL,</li>
					<li>Symfony,</li>
					<li>Jquery,</li>
					<li>Bootstrap,</li>
					<li>Xdebug,</li>
					<li>Python,</li>
					<li>.NET,</li>
					<li>Typescript,</li>
				</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
