---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Mes projets | Kyle AH-LO"
	description="Découvrez les derniers projets de Kyle AH-LO."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Mes projets"
				tagline="Voici mes projets les plus récents pour vous faire une idée de mon expérience passée."
				align="start"
			/>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
